<mat-toolbar class="bg-cyan-500 z-50 fixed left-0 right-0">
  <div class="flex justify-between mx-auto w-[80rem]">
    <a routerLink="home" class="text-white flex flex-row">
      <mat-icon class="face-icon">face</mat-icon>
      <span class="my-auto font-bold text-2xl">SHOPPING FACE</span>
    </a>
    <button mat-icon-button [mat-menu-trigger-for]="menu" class="text-white">
      <mat-icon
        [matBadge]="itemsQuantity"
        [matBadgeHidden]="!itemsQuantity"
        aria-hidden="false"
        matBadgeColor="warn"
        >shopping_cart</mat-icon
      >
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">{{ itemsQuantity }}</span>
        <a routerLink="cart">View Cart</a>
      </div>
      <div *ngIf="cart.items" class="py-2">
        <div
          *ngFor="let item of cart.items"
          class="flex justify-between font-light mb-4"
        >
          {{ item.name }} x {{ item.quantity }}
          <span class="font-bold pl-3">{{
            getTotal(cart.items) | currency
          }}</span>
        </div>
      </div>
      <div class="flex justify-between font-light">
        Total:
        <span class="font-bold">{{ "570000" | currency }}</span>
      </div>
      <div class="pt-3 flex justify-between">
        <div class="flex flex-col">
          <button class="bg-red-600 mx-auto text-white rounded-full w-9 h-9">
            <mat-icon class="pt-1">remove_shopping_cart</mat-icon>
          </button>
          <p class="font-light">Remove Items</p>
        </div>
        <div class="flex flex-col">
          <button class="bg-green-600 mx-auto text-white rounded-full w-9 h-9">
            <mat-icon class="pt-1">credit_card</mat-icon>
          </button>
          <p class="font-light">Go to pay</p>
        </div>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
