.mat-column-action{
    width: 50px !important;
    
    padding: 0 !important;

}

.mat-column-total{
    width: 90px !important;
    
}

.mat-column-quantity{
    width: 120px !important;
    
}

.mat-column-name{
    
    max-width: 120px !important;
    
}