<div
  class="min-h-full max-w-7xl absolute top-16 right-0 left-0 mx-auto p-6 bg-gray-100"
  *ngIf="cart.items.length; else elseBlock"
>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z6 w-full relative"
  >
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.product }}" alt="product" class="w-[100px] my-5" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-col w-44">
          <button
            mat-raised-button
            routerLink="/home"
            class="bg-green-600 text-white flex flex-row-reverse w-32"
          >
            <mat-icon class="ml-1">shopping_bag</mat-icon>
            <span class="font-light">Shop</span>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell class="text-wrap" *matCellDef="let element">
        <span class="truncate text-wrap w-sm">{{ element.name }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">
        <span class="truncate max-w-xs">{{ element.price | currency }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <div class="w-full flex justify-between content-center">
          <button>
            <mat-icon>remove_circle</mat-icon>
          </button>
          <span class="truncate mt-1">{{ element.quantity }}</span>
          <button class="">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef class="">Total</th>
      <td mat-cell *matCellDef="let element">
        <span class="truncate max-w-xs">
          {{ element.quantity * element.price | currency }}
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="font-bold py-5 block">
          {{ getTotal(cart.items) | currency }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button
          (click)="onClearCart()"
          mat-raised-button
          color="warn"
          class="mx-1"
        >
          Clear All
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="onRemoveFromCart(element)"
          mat-mini-fab
          color="warn"
          class="mx-9"
        >
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-col">
          <button
            mat-raised-button
            class="flex flex-row-reverse bg-green-600 mx-3 text-white"
          >
            <span class="font-light">Pay</span>
            <mat-icon class="ml-1">credit_card</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr
      class="sticky top-16 z-10"
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>

<ng-template #elseBlock>
  <div class="absolute top-16 right-0 left-0">
    <mat-card
      class="max-w-7xl flex flex-row items-center justify-between mx-auto mt-9 py-6 px-20 bg-gray-100"
    >
      <p class="my-auto text-red-700 font-black text-lg">
        Your Cart is Empty 😞
      </p>
      <button class="" mat-raised-button routerLink="/home">
        Start Shopping
      </button>
    </mat-card>
  </div>
</ng-template>
